.carousel {
  width: 500px;
  height: 300px;
  overflow: hidden;
  white-space: nowrap;
  outline: 1px solid #f66;
  /* zoom: 0.25; */
  margin: 0 auto;
}

.carousel>img {
  width: 500px;
  height: 300px;
  display: inline-block;
  /* transition: transform ease 0.5s; */

}